:root {
  --color-primary:#7380ec;
  --color-danger:#ff7782;
  --color-success:#41f1b6;
  --color-warning:#ffbb55;
  --color-white:#fff;
  --color-info-dark:#7d8da1;
  --color-info-light:#dce1eb;
  --color-dark:#363949;
  --color-light:rgba(132,139,200,.18);
  --color-primary-variant:#111e88;
  --color-dark-variant:#677483;
  --color-background:#f6f6f9;
  --card-border-radius:2rem;
  --border-radius-1:.4rem;
  --border-radius-2:.8rem;
  --border-radius-3:1.2rem;
  --card-paddong:1.8rem;
  --padding-1:1.2rem;
  --box-shadow:0 2rem 3rem var(var(--color-light)) ;
}

body {
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
}

header {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background: linear-gradient(rgba(71, 71, 71, 0.5), rgba(78, 78, 78, 0.5)), url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-creative-synthesis-simple-book-education-and-training-background-image_219497.jpg);
  width: 100%;
  height: 100vh;
}

#nav-bar {
  align-items: center;
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)) rgba(236, 10, 6, 0.7333333333);
}
#nav-bar #nav-item li {
  padding: 15px;
  list-style: none;
}
#nav-bar #nav-item li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
}
#nav-bar #nav-item li a:hover {
  color: rgba(2, 134, 222, 0.904);
  border-bottom: 1px solid rgba(2, 134, 222, 0.904);
  transition: 1s;
}
#nav-bar #nav-item li :nth-child(1) span {
  color: rgba(2, 134, 222, 0.904);
}

.logo a {
  text-decoration: none;
}
.logo a h2 {
  font-size: var(--card-paddong);
  font-weight: 700;
}
.logo a h2 span {
  color: rgba(2, 134, 222, 0.904);
}

a {
  text-decoration: none;
  color: #000;
}

.singup {
  border: 2px solid transparent;
  border-radius: 35px;
  text-align: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 500;
  background-color: rgba(2, 134, 222, 0.904);
}
.singup a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.singup:hover {
  color: rgba(2, 134, 222, 0.904);
}

.shop {
  align-items: center;
  font-size: 1rem;
  background-color: rgba(2, 134, 222, 0.904);
  padding: 10px;
  position: absolute;
  color: #fff;
  border-radius: 5px;
}
.shop i:hover {
  color: rgba(236, 10, 6, 0.7333333333);
  transition: 1s ease;
  cursor: pointer;
}

.glass i {
  align-items: center;
  font-size: 1rem;
  padding: 7px 0;
}
.glass i:hover {
  color: rgba(236, 10, 6, 0.7333333333);
  transition: 1s ease;
  cursor: pointer;
}

footer {
  bottom: 0;
  background-color: #200355;
}
footer .logo-foot img {
  width: 60% !important;
  border-radius: 20%;
}
footer p {
  font-size: 1rem;
  font-weight: 600;
}
footer li {
  list-style: none;
}
footer a {
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
footer h2 {
  font-size: 1rem;
  padding: 10px;
  font-weight: 500;
}

.foot-sec {
  border: 1px solid #fff;
}

.text {
  font-family: sans-serif;
  font-weight: 500;
  position: absolute;
  top: 50%;
  bottom: 50%;
  color: #fff;
}
.text h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.card {
  border-radius: 15px;
  margin: 5% 0;
  position: static;
}
.card:hover {
  color: #fff;
  cursor: pointer;
  transition: 1s;
  background-color: rgba(236, 10, 6, 0.7333333333);
  font-size: 1rem;
}
.card .card-img img {
  padding: 10px;
  border-radius: 15px;
}

.card-body h2 {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: 10px 0;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px 0;
}

.card-foot .card-price {
  padding: 10px 0;
}
.card-foot .card-price a {
  text-decoration: none;
  font-size: 1.9rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: 15px;
  color: #000;
}
.card-foot .card-price span i {
  color: rgb(218, 233, 2);
}

.card-btn button {
  background-color: rgba(2, 134, 222, 0.904);
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10ppx;
  border: 1px solid transparent;
}
.card-btn button:hover {
  cursor: pointer;
  transition: 1s ease;
  color: #fff;
}

.card-foot .card-price a {
  color: #fff;
}

@media (max-width: 740px) {
  body {
    padding: 0;
    margin: 0;
  }
  .nav-item li a {
    font-size: 1px;
  }
  .singup a {
    font-size: 10px;
  }
}/*# sourceMappingURL=course.css.map */