$homecolor:(#ec0a06bb);
$text-color:(#000);
$text-family:( sans-serif);
$fon-color:( rgba(2, 134, 222, 0.904) );
$font-size:(1rem);

:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:.4rem;
    --border-radius-2:.8rem;
    --border-radius-3:1.2rem;

    --card-paddong:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(var(--color-light))
}

a{
    color:var(--color-dark)
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: .87rem;
}
h4{
    font-size: .8rem;
}
h5{
    font-size: .77rem;
}


header{
    background:linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)), $homecolor ;
    width: 100%;
    height: 100vh;
    
    
}

#nav-bar{
    width: 100%;
    position:fixed;
    background:linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)) $homecolor;
    #nav-item{
        li{
            padding: 15px;
            list-style: none;
            a{
                text-decoration: none;
                font-size: $font-size;
                font-weight: 600;
                font-family: $text-family;
                color: $text-color;
                &:hover{
                    color: $fon-color;
                    border-bottom: 1px solid $fon-color;
                    transition: 1s;
                }
            }
            :nth-child(1){
                span{
                    color: $fon-color;
                }

            }
        }
    }
}
.logo{
    a{
        text-decoration: none;
        h2{
            font-size: var(--card-paddong);
            font-weight: 700;
            span{
                color: $fon-color;
            }
        }
    }

}
a{
    text-decoration: none;
    color: $text-color;
}
.singup{
    border: 2px solid transparent;
    border-radius: 35px;
    text-align: center;
    font-size: 1.2rem;
    font-family: $text-family;
    font-weight: 500;
    background-color: $fon-color;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:$text-color;
    }
}

.head-section{
    margin: 10%;
    .head-text{
        color: $text-color;
        h5{
            padding: 10px 0;
            font-size: $font-size;
            font-family: $text-family;
            font-weight: 600;
        }
        h2{
            padding: 10px 0;
            font-size: $font-size;
            font-family: $text-family;
            font-weight: 600;
        }
        p{
            padding: 10px 0;
            font-size: $font-size;
            font-family: $text-family;
            font-weight: 600;
        }
        .inp{
            input{
                width: 70%;
                padding:  20px;
                margin:  10px;
                text-align: left;
                font-size: $font-size;
                font-family: $text-family;
                font-weight: 600;
            }
            button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid $fon-color;
                background-color: $fon-color;
                padding: 10px;
                border-radius: 15px;
                position: absolute;
                z-index: 3;
                transform: translate(335px,20px);
                text-decoration: none;
                color: $text-color;
                font-size: $font-size;
                font-weight: 500;
                font-family: $text-family;
                &:hover{

                    color: $text-color;
                    transition: 1s;
                    font-size: $font-size;
                    
                }
            }
        }
    }
}

.hed1-sec{
    padding: 10px;
    a{
        color: $text-color;
        font-size:$font-size;
        padding: 0 10px;
        font-weight: 600;
        align-items: center;
       &:hover{
        color: $fon-color;
        transition: 1s;
        font-size: $font-size;
        font-weight: 600;
       }
    }
    h4{
        font-size: $font-size;
        font-weight: 600;
        font-family: $text-family;
        &:hover{
            color: $fon-color;
            transition: 1s;
            font-size: $font-size;
            font-weight: 600;
            font-family: $text-family;
        }
    }

}
.head-img{
    .img{
        img{
            border:1px solid transparent;
            border-radius:20px;
            background:linear-gradient(rgba(245, 242, 242, 0.233),rgb(235, 229, 229)) ;
            width: 100%;
            height: 79vh;
            transition: 2s;
            transform: rotate(3deg);
        }
        
    }

}



