:root {
  --color-primary:#7380ec;
  --color-danger:#ff7782;
  --color-success:#41f1b6;
  --color-warning:#ffbb55;
  --color-white:#fff;
  --color-info-dark:#7d8da1;
  --color-info-light:#dce1eb;
  --color-dark:#363949;
  --color-light:rgba(132,139,200,.18);
  --color-primary-variant:#111e88;
  --color-dark-variant:#677483;
  --color-background:#f6f6f9;
  --card-border-radius:2rem;
  --border-radius-1:.4rem;
  --border-radius-2:.8rem;
  --border-radius-3:1.2rem;
  --card-paddong:1.8rem;
  --padding-1:1.2rem;
  --box-shadow:0 2rem 3rem var(var(--color-light)) ;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

header {
  background-position: center !important;
  background-size: cover !important;
  filter: blur(12, 22, 2, 2);
  background: linear-gradient(rgba(174, 175, 174, 0.37), rgba(196, 193, 193, 0.363)), url(https://img.freepik.com/premium-vector/welcome-back-school-background_3589-817.jpg?w=2000);
  height: 100vh;
  background-attachment: fixed;
}

#nav-bar {
  align-items: center;
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)) rgba(236, 10, 6, 0.7333333333);
}
#nav-bar #nav-item li {
  padding: 15px;
  list-style: none;
}
#nav-bar #nav-item li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
}
#nav-bar #nav-item li a:hover {
  color: rgba(2, 134, 222, 0.904);
  border-bottom: 1px solid rgba(2, 134, 222, 0.904);
  transition: 1s;
}
#nav-bar #nav-item li :nth-child(1) span {
  color: rgba(2, 134, 222, 0.904);
}

.logo a {
  text-decoration: none;
}
.logo a svg {
  color: rgba(2, 134, 222, 0.904);
}
.logo a h2 {
  font-size: var(--card-paddong);
  font-weight: 700;
}
.logo a h2 span {
  color: rgba(2, 134, 222, 0.904);
}

a {
  text-decoration: none;
  color: #000;
}

.singup {
  border: 2px solid transparent;
  border-radius: 35px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  background-color: rgba(2, 134, 222, 0.904);
}
.singup a {
  display: flex;
  text-align: center;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.singup:hover {
  color: rgba(2, 134, 222, 0.904);
}

.head-section {
  margin: 10%;
}
.head-section .head-text {
  color: #000;
}
.head-section .head-text h5 {
  padding: 10px 0;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}
.head-section .head-text h2 {
  padding: 10px 0;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}
.head-section .head-text p {
  padding: 10px 0;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}
.head-section .head-text .inp input {
  width: 70%;
  padding: 20px;
  margin: 10px;
  text-align: left;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
}
.head-section .head-text .inp button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(2, 134, 222, 0.904);
  background-color: rgba(2, 134, 222, 0.904);
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  z-index: 3;
  transform: translate(335px, 20px);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  font-family: sans-serif;
}
.head-section .head-text .inp button:hover {
  color: #000;
  transition: 1s;
  font-size: 1rem;
}

.hed1-sec {
  padding: 10px;
}
.hed1-sec a {
  color: #000;
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
  align-items: center;
}
.hed1-sec a:hover {
  color: rgba(2, 134, 222, 0.904);
  transition: 1s;
  font-size: 1rem;
  font-weight: 600;
}
.hed1-sec h4 {
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}
.hed1-sec h4:hover {
  color: rgba(2, 134, 222, 0.904);
  transition: 1s;
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}

.head-img {
  position: static;
}
.head-img .img img {
  border: 1px solid transparent;
  border-radius: 20px;
  background: linear-gradient(transparent, transparent);
  width: 100%;
  height: 75vh;
}
.head-img .img img:hover {
  transition: 2s;
  transform: rotate(-5deg);
  cursor: pointer;
}/*# sourceMappingURL=header.css.map */