body {
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
}

.card-item {
  box-shadow: 0.5px 5px 5px 5px rgba(1, 39, 255, 0.3137254902);
  border: 1px solid transparent;
  border-radius: 10px;
}
.card-item .card-head {
  padding: 15px;
}
.card-item .card-body :nth-child(3) h2 {
  font-size: 1rem;
}
.card-item .card-body h3 {
  font-size: 1.3rem;
  font-family: sans-serif;
}
.card-item .card-body a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
  color: rgba(236, 10, 6, 0.7333333333);
}
.card-item .card-body p {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 500;
}
.card-item:hover {
  box-shadow: 5px 2px 5px 5px;
  transition: 1s;
  cursor: pointer;
  color: rgba(2, 134, 222, 0.904);
  background-color: rgba(236, 10, 6, 0.7333333333);
}

.item-text {
  height: 19rem;
  width: 15rem;
  border: 1px solid transparent;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0.5px 5px 5px 10px rgba(7, 40, 228, 0.1176470588);
  margin: 0 5px;
  background-color: #fff;
}
.item-text span svg {
  margin: 50px 5px;
  width: 5rem;
  height: 5rem;
}
.item-text h2 {
  margin: 15px 2px;
  font-size: 1.3rem;
  font-weight: 500;
}
.item-text:hover {
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)), rgba(236, 10, 6, 0.7333333333);
  color: rgba(2, 134, 222, 0.904);
  cursor: pointer;
  transition: 1s ease-in-out;
}
.item-text:hover svg {
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.sec-head1 h5 {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
}
.sec-head1 h5:hover {
  color: rgba(2, 134, 222, 0.904);
}
.sec-head1 h2 {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
}
.sec-head1 h2:hover {
  color: rgba(2, 134, 222, 0.904);
}

.sec-btn a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgba(236, 10, 6, 0.7333333333);
}
.sec-btn a:hover {
  padding: 10px;
  transition: 1s;
  border: 2px solid rgba(2, 134, 222, 0.904);
  border-radius: 50px;
  padding: 10px;
}

.sec-head h4 {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
}
.sec-head h4:hover {
  color: rgba(2, 134, 222, 0.904);
}
.sec-head h2 {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
}
.sec-head h2:hover {
  color: rgba(2, 134, 222, 0.904);
}

::-moz-selection {
  background-color: rgba(2, 134, 222, 0.904);
}

::selection {
  background-color: rgba(2, 134, 222, 0.904);
}

.card {
  border-radius: 15px;
  margin: 5%;
  position: static;
}
.card:hover {
  color: #fff;
  cursor: pointer;
  transition: 1s;
  background-color: rgba(236, 10, 6, 0.7333333333);
  font-size: 1rem;
}
.card .card-img img {
  padding: 10px;
  border-radius: 15px;
}

.card-body h2 {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: 10px 0;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px 0;
}

.card-foot .card-price {
  padding: 10px 0;
}
.card-foot .card-price a {
  text-decoration: none;
  font-size: 1.9rem;
  font-family: sans-serif;
  font-weight: 500;
  padding: 15px;
  color: #000;
}
.card-foot .card-price span i {
  color: rgb(218, 233, 2);
}

.card-btn button {
  background-color: rgba(2, 134, 222, 0.904);
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10ppx;
  border: 1px solid transparent;
}
.card-btn button:hover {
  cursor: pointer;
  transition: 1s ease;
  color: #fff;
}

.card-foot .card-price a {
  color: #fff;
}

.modal-title {
  margin: 10px;
}
.modal-title h5 {
  font-family: sans-serif;
  font-weight: 500;
}

.modal-content {
  background: linear-gradient(rgba(255, 252, 252, 0.452), rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
}

.modal-footer button {
  text-align: end;
  align-items: end;
}

.video iframe {
  position: static;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 639px;
  height: 427px;
  margin: 4px;
  z-index: 1;
}

.foot-btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 500;
}
.foot-btn:hover {
  padding: 10px;
  font-size: 1.3rem;
  transition: 1s;
  border: 2px solid rgba(2, 134, 222, 0.904);
  border-radius: 50px;
  padding: 10px;
}

.owl-carousel {
  height: 100vh;
}
.owl-carousel .item {
  border: 1px solid #fff;
  background-color: rgba(236, 10, 6, 0.7333333333) !important;
  border-radius: 10px;
  color: #000;
  height: 500px !important;
}
.owl-carousel .item span i {
  margin: 20px !important;
  font-size: 5rem;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50px;
  position: absolute;
  transform: translateX(180px);
  background-color: #fff;
  z-index: 1;
}
.owl-carousel .item img {
  background-color: rgba(2, 134, 222, 0.904);
  margin: 30px 0;
  position: absolute;
  transform: translateX(200px);
  width: 400px !important;
  height: 400px;
  border-radius: 100px !important;
  border: 1px solid rgba(2, 134, 222, 0.904) !important;
}
.owl-carousel .item img:hover {
  transform: translate(-20px 30px);
  transition: 3s;
  cursor: pointer;
}
.owl-carousel .item h2 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: sans-serif;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 30px !important;
  height: 20px !important;
  background-color: rgba(2, 134, 222, 0.904) !important;
}
.owl-carousel .owl-dots .owl-dot span cursor span {
  width: 40px;
}

.shop {
  align-items: center;
  font-size: 1rem;
  background-color: rgba(2, 134, 222, 0.904);
  padding: 10px;
  position: absolute;
  color: #fff;
  border-radius: 5px;
}
.shop i:hover {
  color: rgba(236, 10, 6, 0.7333333333);
  transition: 1s ease;
  cursor: pointer;
}

.glass i {
  align-items: center;
  font-size: 1rem;
  padding: 7px 0;
}
.glass i:hover {
  color: rgba(236, 10, 6, 0.7333333333);
  transition: 1s ease;
  cursor: pointer;
}

footer {
  background-color: #200355;
}
footer .logo {
  display: flex;
}
footer .logo svg {
  color: rgba(2, 134, 222, 0.904) !important;
}
footer li {
  list-style: none;
}
footer a {
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
footer h2 {
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 500;
}
footer p {
  font-size: 1.3rem;
  font-weight: 600;
}

.foot-sec {
  border: 1px solid #fff;
}

.sec-post {
  border: 1px solid transparent;
}
.sec-post .item-text1 {
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-post .item-text1 h3 {
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: 500;
  margin: 10px 0;
}

.item-imge img {
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px 80px;
  border-radius: 25px;
}
.item-imge img:hover {
  margin: 10px;
  transform: translate3d(200px 30px) rotate(45deg, 15deg);
  cursor: pointer;
  transition: 10s ease;
}

.star-icon {
  margin: 50px 5px;
}
.star-icon p {
  margin: 0 50px;
}
.star-icon p i {
  color: rgb(218, 233, 2);
}

.book-item {
  border: 1px solid transparent;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 50px;
  padding: 10px;
}
.book-item:hover {
  background: rgba(236, 10, 6, 0.7333333333);
  cursor: pointer;
  color: #fff;
}
.book-item .book-img img {
  border-radius: 20px;
  height: 200px;
}
.book-item .book-text {
  transform: translate(20px 100px);
}
.book-item .book-text h2 {
  padding: 15px 0;
  font-size: 1.3rem;
  font-family: sans-serif;
}
.book-item .book-text p {
  font-size: 0.8rem;
  font-family: sans-serif;
  padding: 10px 0 0 0;
}
.book-item .btn-book {
  margin: 10pz 0;
}
.book-item .btn-book span {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
}
.book-item .btn-book button {
  background: rgba(2, 134, 222, 0.904);
  border-radius: 25px;
  padding: 15px;
  border: 1px solid transparent;
}/*# sourceMappingURL=main.css.map */