$homecolor:(#ec0a06bb);
$text-color:(#000);
$text-family:( sans-serif);
$fon-color:( rgba(2, 134, 222, 0.904) );
$font-size:(1.3rem);


body{
  background: linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
}
.card-item{
    box-shadow: 0.5px 5px 5px 5px #0127ff50;
    border: 1px solid transparent;
    border-radius: 10px;
    .card-head{
     padding: 15px;
    }
    .card-body{

      :nth-child(3){
        h2{

          font-size: 1rem;
        }
      }
      h3{
      font-size: $font-size;
      font-family: $text-family;
      }
      a{
        text-decoration: none;
        font-size: $font-size;
        font-family: $text-family;
        font-weight: 600;
        color: $homecolor;
      }
  
      p{
        font-size: $font-size;
        font-family: $text-family;
        font-weight: 500;
      }
    }
    &:hover{
      box-shadow: 5px 2px 5px 5px;
      transition: 1s;
      cursor: pointer;
      color: $fon-color;
      background-color: $homecolor;
    }
}


.item-text{
  height: 19rem;
  width: 15rem;
  border: 1px solid transparent;
  
  font-family: $text-family;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0.5px 5px 5px 10px #0728e41e;
  margin: 0 5px;
  background-color: #fff;

  span{
    svg{
      margin: 50px 5px;
      width: 5rem;
      height: 5rem;
    }

  }
  h2{
    margin: 15px 2px;
    font-size: $font-size;
    font-weight: 500;
  }
  &:hover{
     svg{
      border-radius: 20px;
      padding: 10px;
      background-color: #fff;
      cursor: pointer;
      transition: 1s ease-in-out;
     }
    background: linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)), $homecolor;
    color: $fon-color;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
}
.sec-head1{
  h5{
    font-size: $font-size;
    font-family: $text-family;
    font-weight: 600;
    &:hover{
      color: $fon-color;
    }

  }
  h2{
    font-size: $font-size;
    font-family: $text-family;
    font-weight: 600;
    &:hover{
      color: $fon-color;
    }
  }
}
.sec-btn{
  a{
    text-decoration: none;
    font-size: $font-size;
    font-weight: 600;
    color: $homecolor;
    &:hover{
      padding: 10px;
      transition: 1s;
      border: 2px solid $fon-color;
      border-radius: 50px;
      padding: 10px;
    }
  }
}
.sec-head{
  h4{
    font-size: $font-size;
    font-family: $text-family;
    font-weight: 600;
    &:hover{
      color: $fon-color;
    }
  }
  h2{
    font-size: $font-size;
    font-family: $text-family;
    font-weight: 600;
    &:hover{
      
      color: $fon-color;
    }
  }
}
::selection{
  background-color: $fon-color;
}

.card{
  border-radius: 15px;
  margin:  5%;
  position: static;
 &:hover{
  color: #fff;
  cursor: pointer;
  transition: 1s;
  background-color: $homecolor;
 font-size: 1rem;
 }
  .card-img{
    img{
      padding: 10px;
      border-radius: 15px;
    }
  }
 
}
.card-body{
  h2{
    font-size: $font-size;
    font-family: $text-family;
    font-weight: 500;
    padding: 10px 0;
  }
  p{
    font-size:1rem;
    font-weight: 600;
    font-family: $text-family;
    padding: 10px 0;
  }
}  
.card-foot{
  .card-price{
    padding:10px 0;
    a{
       text-decoration: none;
      font-size: 1.9rem;
      font-family: $text-family;
      font-weight: 500;
      padding: 15px;
      color: #000;
    }
    span{
      i{
        color: rgb(218, 233, 2);
      }
        
    }
  }

}
.card-btn{
  button{
    background-color: $fon-color;
      border-radius: 25px;
     font-size: .8rem;
     font-weight: 500;
     padding: 10ppx;
     border: 1px solid transparent;
     &:hover{
       cursor: pointer;
       transition: 1s ease;
       color: #fff;
      
     }
   }
}
.card-foot{

    .card-price{
      a{
        color: #fff;
      }
    }
}

.modal-title{
  margin: 10px;
  h5{
      font-family: $text-family;
      font-weight: 500;
  }
}
.modal-content{
  background: linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
}
.modal-footer{
  button{
      text-align: end;
      align-items: end;
      
  }
}
 
.video{

  iframe{
    position: static;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100% !important;
   height: 427px;
   margin: 4px;
   z-index: 1;
    
  }
  

}

.foot-btn{
  text-decoration: none;
  font-size: $font-size;
  font-family: $text-family;
  font-weight: 500;
  &:hover{
    padding: 10px;
    font-size: $font-size;
    transition: 1s;
    border: 2px solid $fon-color;
    border-radius: 50px;
    padding: 10px;

  }
}

.owl-carousel{
      height: 100vh;
  .item{
    span{
      i{
        margin: 20px !important;
        font-size: 5rem;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 50px;
        position: absolute;
        transform: translateX(180px);
        background-color: #fff;
        z-index: 1;
      }
      
    }

    img{
      background-color: $fon-color;
      margin: 30px 0;
      position: absolute;
      transform: translateX(200px);
      width: 400px !important;
      height: 400px;
      border-radius: 100px !important;
      border: 1px solid $fon-color!important;
      &:hover{
        transform: translate(-20px 30px);
        transition: 3s;
        cursor: pointer;
      }
    }
    border: 1px solid #fff;
    background-color: $homecolor !important;
    border-radius: 10px ;
    color: #000;
    height: 500px !important;
    h2{

      font-size: $font-size;
      font-weight: 500;
      font-family: $text-family;
    }
  
  }
  .owl-dots{
    .owl-dot{
      span{
        width: 30px !important;
        height: 20px !important;
        background-color: $fon-color !important;
        cursor {
          span{
            width: 40px;
          }
        }
      
      }
    
    }
  
  
  }

}

.shop{
  align-items: center;
  font-size: 1rem;
  background-color: $fon-color;
  padding: 10px;
  position: absolute;
  color: #fff;
  border-radius: 5px;
  i{

      &:hover{
          color: $homecolor;
          transition: 1s ease;
          cursor: pointer;
      }
  }
}
.glass{
  i{
      align-items: center;
      font-size: .9rem;
      padding: 5px 0;
      &:hover{
          color: $homecolor;
          transition: 1s ease;
          cursor: pointer;
      }
  }
}
footer{
    background-color: #200355;
    .logo{
      display: flex;
        svg{
          color: $fon-color !important;
        }
    }
    li{
      list-style: none;
    }
    a{
      font-size: $font-size;
      padding: 10px;
      text-decoration: none;
      color: #fff;
    }
    h2{
      font-size: $font-size;
      padding: 10px;
      font-weight: 500;
    }
    p{
      font-size: $font-size;
      font-weight: 600;
    }
  
}

.foot-sec{
  border: 1px solid #fff;
}
.sec-post{
  border: 1px solid transparent;
  .item-text1{
     text-align: center;
     align-items: center;
     flex-wrap: nowrap;
     svg{
      width: 100px;
      height: 50px;
     }
    h3{
      font-size: 1.1rem;
      font-family: $text-family;
      font-weight: 500;
      margin:10px;
    }
  }
}
.item-imge{
 img{
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: 10px 80px;
  border-radius: 25px;
  &:hover{
    margin: 10px;
    transform: translate3d(200px 30px) rotate(45deg ,15deg);
   cursor: pointer;
   transition: 10s ease;

  }

 }
}
.star-icon{
  margin: 50px 5px;
  p{
    margin: 0 50px;
    i{
      color: rgb(218, 233, 2);
    }
  }
}
.book-item{
  border: 1px solid transparent;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: 50px;
  padding: 10px;
  &:hover{
    background: $homecolor;
    cursor: pointer;
    color: #fff;
   }
  .book-img{
    img{
      border-radius: 20px;
      height: 200px;
    }

  }
  .book-text{
    transform: translate(20px 100px);
    h2{
      padding: 15px 0;
      font-size: $font-size;
      font-family: $text-family;

    }
    p{
      font-size: .8rem;
      font-family: $text-family;
      padding: 10px 0 0 0;
    }
    
  }
  .btn-book{
    margin: 10pz 0;
    span{
      font-size: 1.5rem;
      font-family: $text-family;
      font-weight: 500;
    }
    button{
      background: $fon-color;
      border-radius: 25px;
      padding: 15px;
      border: 1px solid transparent;
      
    }
   
  }
}
@media (max-width:878px) {
  body{
    font-size: 1px !important;
  }
  .item-image{
      img{
        width: 10px;
        padding: 0;
      }
  }
}