$homecolor:(#EABD4D);
$text-color:(#fff);
$text-family:( sans-serif);
$fon-color:( rgba(2, 134, 222, 0.904) );
$font-size:(1.5rem);



body{
    background: linear-gradient(rgba(255, 252, 252, 0.452),rgba(255, 255, 255, 0.356)), url(https://media.istockphoto.com/id/1218737747/vector/learning-online-e-learning-video-call-chat-with-class-distance-education.jpg?s=612x612&w=0&k=20&c=fFFwc3CTP4XtvmruZLiK8EzAbzvAxJL_kw5BsA7z7w8=);
} 
#nav-head{
    border: 1px solid #fff;
    background: linear-gradient(rgba(248, 244, 244, 0.699),rgba(255, 255, 255, 0.877)), $homecolor;

}
#nav-bar{
    z-index: 999;
    position: fixed;
    
}
 
.logo{
    img{
        padding: 5% 10%;
        border-radius: 25%;
        width: 50%;
        height: 50%;

    }
}
#nav-item{
    margin: 10px;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 150%;
            font-weight: 500;
            margin: 30% 0;
        }
    }
}
#icon{
    a{
        color: #fff;
        padding: 10px ;
        font-size: 200%;
    }
}
footer{
    bottom: 0;
    background-color: #200355;
    .logo-foot{
      img{
        width: 60% !important;
        border-radius: 20%;
      }
    }
    p{
        font-size: $font-size;
        font-weight: 600;
    }
    li{
      list-style: none;
    }
    a{
      font-size: $font-size;
      padding: 10px;
      text-decoration: none;
      color: #fff;
    }
    h2{
      font-size: $font-size;
      padding: 10px;
      font-weight: 500;
    }
    
    
}

.foot-sec{
    border: 1px solid #fff;
}